.rodape{
    background-color: #171a19;
    margin-top: auto;
}

.rodape .container{
    display: flex;    
    justify-content: space-evenly;
    padding: 100px;
}

.rodapeEquipe li, .rodapeContatos li{
    color: #DADFE6;
    margin-top: 5px;
    font-family: 'Merriweather', serif;
}

