.cabecalho .container{
    display: flex;
    background: transparent;
}

.cabecalho .container :hover{
    background-color: #469bd6 ;
    transition: 0.5s;
}

.menuNavegacao {
    display: flex;
    width: 100%;
    justify-content: center;
    transition: none;
}

.linkMenuNav{
    font-size: 24px;
    font-family: 'Merriweather', serif;
    text-decoration: none;
    color: #DADFE6;
    padding: 20px;
    opacity: 0.6;
    transition: none;
}

.linkMenuNav:hover {
    transition: none;
    font-weight: 700;
    opacity: 1;
}

.linkMenuNav #ativo {
    font-size: 15px
}