.cabecalho .container{
    display: flex;
    background-color: #1E73B5 ;
}

.cabecalhoHome :hover{
    background-color: #1E73B5 ;
    transition: 0.5s ease-in-out;
}


.cabecalho .container :hover{
    background-color: #E5C520 ;
    transition: 0.7s ease-in-out;
}

.cabecalho .linkMenuNav{
    font-size: 24px;
    font-family: 'Merriweather', serif;
    text-decoration: none;
    color: #000000;
    padding: 20px;
    opacity: 0.6;
    transition: none;
}

.menuNavegacao {
    display: flex;
    width: 100%;
    justify-content: center;
    transition: none;
}

.linkMenuNav{
    font-size: 24px;
    font-family: 'Merriweather', serif;
    text-decoration: none;
    color: #DADFE6;
    padding: 20px;
    opacity: 0.6;
    transition: none;
}

.menuNavegacao :hover {
    transition: none;
    font-weight: 700;
    opacity: 1;
}

#ativo {
    text-decoration: underline;
}