.cabecalho {
    display: flex;
    justify-content: space-around;
    background-color: beige;
    }


.cabecalho .container{
    display: flex;
    align-items: center;
}


.linkMenuNav {
    font-size: 30px;
    background-color: burlywood;
    color: black;
    padding: 4px;
    border-style: solid;
    border-width: 2px;
    border-color:black;
    opacity: 50%;
    border-radius: 15%;
    text-decoration: none;
    margin-left: 5px;
    }



.mainConteudo {
    margin-left: 5%;
    margin-right: 5%;
}

.mainConteudo p {
    padding-top: 35px;
}

.mainConteudo h1{
    margin-top: 50px;
    font-size: 48px;
    text-align: center;
}
