body{
    background-color: #1E73B5;
}

.headingObras{
    margin-top: 10%;
    margin-bottom: 7%;
}

h1{
    font-size: 128px;
    color: white;
    font-family: 'Merriweather',sans-serif, bold;
    margin-top: 15%;
    margin-bottom: 8%;
}

h2 {
    font-size: 48px;
    color: white;
    font-family: 'Merriweather',sans-serif, bold;   
}

.mainConteudoObra {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.fileiraImagens{
    display: flex;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 100px;
}

.imagensObras {
    max-width: 270px;
}

.seta {
    height: 100px;
    opacity: 0.5;
}

#setaDireita{
    margin-left: 10%;
}

.alterarImagem :hover{
    opacity: 1;
}

.linkSaibaMais {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    margin-bottom: 10%;
}

.linkSaibaMais :hover{
    background-color: #E5C520;
}

.botaoSaibaMais{
    background-color: #fff;
    text-decoration: none;
    font-family:'Merriweather',sans-serif ;
    font-size: 16px;
    padding: 10px;
    border-radius: 10px;
    transition-duration: 0.6s;
}

@media only screen and (max-width: 700px)  { 
    .menuNavegacao{
        background-color: #E5C520;
    }

    .imagensObras{
        max-width: 150px;
    }

    .botaoSaibaMais{
        background-color: #E5C520;
        color: black;
    } 

    .seta{
        height: 70px;
    }
}

@media only screen and (max-width: 480px){
    .headingObras{
        width: 80%;
    }

    .imagensObras{
        max-width: 85px;
    }

    .seta{
        height: 40px;
    }
}


@media only screen and (max-width: 360px){
    
}

