body {
    background-color: #1E73B5;
}
h1 {
    font-size: 128px;
    color: white;
    font-family: 'Merriweather',sans-serif, bold;
    margin-top: 15%;
}

h2{
    margin-top: 15%;
    font-size: 72px;
    color: white;
    font-family: 'Merriweather',sans-serif;   
}

p{
    font-size: 24px;
    font-family: 'Tiro Bangla', serif;
    line-height: 1.3;
    color: #FFFFFF;
    max-width: 60%;
}

.recomendacoes {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.recomendacao {
    display: flex;
    flex-direction: column;
    align-items: center;
}