body{
    background-color: #2e2e2e;
    overflow-x: hidden;
}

.imagensHome {
    max-width: 100%;
    height: 69em;
    width: 160em;
    background-image: url(../imagens/1.jpg);
    /*background-image: url(../imagens/2.jpg);*/
    /*background-image: url(../imagens/3.jpg);*/
    background-position:center center;     
    background-repeat:no-repeat;
    background-size: cover;
    background-attachment: fixed;
    transition: 2s ease-in-out;
}

.saibaMaisHome {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20%;
}

h1 {
    font-size: 96px;
    font-weight: bold;
    color: rgb(245, 245, 245);
    font-family: 'Merriweather',sans-serif, bold;
    margin-bottom: 2%;
}

.seta {
    position:absolute;
    height: 10%;
    opacity: 0.5;
}

#setaDireita{
    margin-left: 95%;
}

:hover {
    opacity: 1;
}

.botaoSaibaMais {
    background-color: #fff;
    font-family:'Merriweather',sans-serif, bold; ;
    font-size: 16px;
    padding: 10px;
    border-radius: 10px;
    transition-duration: 0.6s;
}

.linkSaibaMais :hover {
    background-color: #1E73B5;
}

@media only screen and (max-width: 700px)  { 
    .menuNavegacao{
        background-color: #1E73B5;
    }

    .imagensHome{
        max-width: 100%;
        height: 60em;
        width: 44em;
    }

    .saibaMaisHome{
        margin-top: 60%;
    }

    #setaDireita{
        margin-left: 85%;
    }

    .botaoSaibaMais{
        background-color: #1E73B5;
        color: #fff;
    }
}



