.rodape{
    background-color: gray;
}

.rodape .container{
    height: 500px;
}

.rodape .container .rodapeConteudo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.logoUfc {
    margin-top: 20px;
    width: 217px;
    height: 301.8px;
}